<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    <script src="https://kit.fontawesome.com/6fd7bfaf7e.js"></script>
    <script src="js/restaurant.js"></script>
    <script src="js/tracker.js"></script>
    <script src="js/main.js"></script>
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
</head>
<body>

<div class="col-xs-12 col-lg-12">
    <div class="page-header media-heading col-xs-12 col-lg-12">
        <!-- only show this element when the isnt on mobile -->
        <h1 class="hidden-xs col-lg-12">Travel Wishlist
            <small class="col-lg-offset-6">Total Wishes: <span id="total">0</span></small>
        </h1>
        <!-- only show this element when the user gets to a mobile version -->
        <h3 class="hidden-md hidden-lg hidden-xl">Travel Wishlist
            <small class="col-xs-offset-9">Total Wishes: <span class="avgGrade"></span></small>
        </h3>
    </div>
    <div class="student-add-form col-xs-12 col-lg-3 pull-right">
        <h4>Add Destination</h4>
        <div class="form-group input-group col-xs-12 col-lg-12">
            <span class="input-group-addon">
                <span><i class="fas fa-utensils"></i></span>
            </span>
            <input type="text" class="form-control form-rounded" name="destination-name" id="destination-name" placeholder="Destination">
        </div>
        <div class="form-group input-group col-xs-12 col-lg-12">
            <span class="input-group-addon">
                <span><i class="fas fa-question"></i></span>
            </span>
            <input type="text" class="form-control form-rounded" name="country" id="country" placeholder="Country">
        </div>
        <div class="form-group input-group col-xs-12 col-lg-12">
            <span class="input-group-addon">
                <span><i class="fas fa-glass-cheers"></i></span>
            </span>
            <input type="text" class="form-control form-rounded" name="known-for" id="known-for" placeholder="Known For">
        </div>
        <div class="form-group input-group col-xs-12 col-lg-12">
            <span class="input-group-addon">
                <span><i class="fas fa-dollar-sign"></i></span>
            </span>
            <input type="text" class="form-control form-rounded" name="must-eat" id="must-eat" placeholder="Must Eats">
        </div>
        <div class="form-group input-group col-xs-12 col-lg-12">
            <span class="input-group-addon">
                <span><i class="fas fa-users"></i></span>
            </span>
            <input type="text" class="form-control form-rounded" name="must-do" id="must-do" placeholder="Must Dos">
        </div>
        <button type="button" class="add btn btn-success" id="add-button">Add</button>
        <button type="button" class="cancel btn btn-default" id="cancel-button">Cancel</button>
    </div>
    <div class="student-list-container page-header media-heading col-xs-12 col-md-9 col-lg-9">
        <table class="student-list col-lg-12">
            <thead>
            <tr>
                <th class="col-xs-2 col-md-2">Destination</th>
                <th class="col-xs-2 col-md-2">Country</th>
                <th class="col-xs-2 col-md-2">Known For</th>
                <th class="col-xs-2 col-md-2">Must Eats</th>
                <th class="col-xs-2 col-md-2">Must Dos</th>
                <th class="col-xs-2 col-md-2">Operations</th>
            </tr>
            </thead>
            <tbody id="display-area">
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Restaurant</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group input-group col-xs-12 col-lg-12">
                        <span class="input-group-addon">
                            <span><i class="fas fa-utensils"></i></span>
                        </span>
                        <input type="text" class="form-control form-rounded" name="destination-name" id="update-name" placeholder="Destination">
                    </div>
                    <div class="form-group input-group col-xs-12 col-lg-12">
                        <span class="input-group-addon">
                            <span><i class="fas fa-question"></i></span>
                        </span>
                        <input type="text" class="form-control form-rounded" name="country" id="update-country" placeholder="Country">
                    </div>
                    <div class="form-group input-group col-xs-12 col-lg-12">
                        <span class="input-group-addon">
                            <span><i class="fas fa-glass-cheers"></i></span>
                        </span>
                        <input type="text" class="form-control form-rounded" name="known-for" id="update-known-for" placeholder="Known For">
                    </div>
                    <div class="form-group input-group col-xs-12 col-lg-12">
                        <span class="input-group-addon">
                            <span><i class="fas fa-dollar-sign"></i></span>
                        </span>
                        <input type="text" class="form-control form-rounded" name="must-eat" id="update-must-eat" placeholder="Must Eats">
                    </div>
                    <div class="form-group input-group col-xs-12 col-lg-12">
                        <span class="input-group-addon">
                            <span><i class="fas fa-users"></i></span>
                        </span>
                        <input type="text" class="form-control form-rounded" name="must-do" id="update-must-do" placeholder="Must Dos">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="save-button" type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>

